/*Font
  @font-face {
    font-family: 'quarkbold';
    src: url('../fonts/Quark-Bold-webfont.eot');
    src: url('../fonts/Quark-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quark-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Quark-Bold-webfont.woff') format('woff'),
         url('../fonts/Quark-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Quark-Bold-webfont.svg#quarkbold') format('svg');
    font-weight: normal;
    font-style: normal;
  }*/
@import url("https://fonts.googleapis.com/css?family=Prompt:300");
body {
  font-family: "Prompt", sans-serif;
  font-size: 16px;
}
/*Container Ghost*/
.container-ghost {
  background-color: #1f2229;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}
@media (min-width: 768px) {
  .container-ghost {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-ghost {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-ghost {
    width: 1170px;
  }
}
/*Navbar Menu*/
.navbar-default-ghost {
  /*  background-color: #101010;  */
  border-bottom: 3px solid #333;
  box-shadow: 0px 5px 5px 0px rgba(51, 51, 51, 0.3);
}
.navbar-default-ghost .navbar-brand {
  color: #ffffff;
}
.navbar-default-ghost .navbar-brand:hover,
.navbar-default-ghost .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-default-ghost .navbar-text {
  font-weight: 0;
  font-size: 16px;
  color: #ffffff;
}
.navbar-default-ghost .navbar-nav > li > a {
  font-weight: 0;
  font-size: 16px;
  color: #fff;
  margin: 0px;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
}
.navbar-default-ghost .navbar-nav > li > a:hover,
.navbar-default-ghost .navbar-nav > li > a:focus {
  font-weight: bolder;
  color: #fff;
  background-color: #333;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
}
.navbar-default-ghost .navbar-nav > .active > a,
.navbar-default-ghost .navbar-nav > .active > a:hover,
.navbar-default-ghost .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #333;
}
.navbar-default-ghost .navbar-nav > .disabled > a,
.navbar-default-ghost .navbar-nav > .disabled > a:hover,
.navbar-default-ghost .navbar-nav > .disabled > a:focus {
  color: #000;
  background-color: transparent;
}
.navbar-default-ghost .navbar-toggle {
  border-color: #ddd;
}
.navbar-default-ghost .navbar-toggle:hover,
.navbar-default-ghost .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default-ghost .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default-ghost .navbar-collapse,
.navbar-default-ghost .navbar-form {
  border-color: #333;
}
.navbar-default-ghost .navbar-nav > .open > a,
.navbar-default-ghost .navbar-nav > .open > a:hover,
.navbar-default-ghost .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #333;
}
@media (max-width: 767px) {
  .navbar-default-ghost .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-default-ghost .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default-ghost .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-default-ghost .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default-ghost .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default-ghost .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #333;
  }
  .navbar-default-ghost .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default-ghost .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default-ghost .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-default-ghost .navbar-link {
  color: #777;
}
.navbar-default-ghost .navbar-link:hover {
  color: #333;
}
.navbar-default-ghost .btn-link {
  color: #777;
}
.navbar-default-ghost .btn-link:hover,
.navbar-default-ghost .btn-link:focus {
  color: #333;
}
.navbar-default-ghost .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default-ghost .btn-link:hover,
.navbar-default-ghost .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default-ghost .btn-link:focus {
  color: #ccc;
}
/*Link Color*/
.link-color > a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.link-color > a:hover,
.link-color > a:focus {
  color: #f1b00d;
}
/*banner-slide*/
.banner-slide {
  margin-top: 0px;
}
/*Box Title*/
.box-title {
}
.box-title h1,
h2,
h3 {
  padding: 7px;
  margin-top: 7px;
  margin-bottom: 5px;
  color: #ff005d;
  /* background-color: #333; */
  border-color: #270000;
  font-size: 22px !important;
  text-align: center;
}
.progress-ghost {
  height: 2px;
  margin-bottom: 5px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 414px) {
  .img-responsive-clip{
    display: block;
    width: 98%;
    padding-bottom: 10px;
    height: 147px;
  }

 }
@media (min-width: 768px) {
  .img-responsive2 {
    display: block;
    width: 98%;
    padding-bottom: 10px;
    height: 320px;
  }
  .img-responsive-clip{
    display: block;
    width: 98%;
    padding-bottom: 10px;
    height: 320px;
  }
}
@media (min-width: 992px) {
  .img-responsive2 {
    display: block;
    width: 98%;
    padding-bottom: 10px;
    height: 320px;
  }
  .img-responsive-clip{
    display: block;
    width: 98%;
    padding-bottom: 10px;
    height: 320px;
  }
}
@media (min-width: 1200px) {
  .img-responsive2 {
    display: block;
    width: 96%;
    padding-bottom: 10px;
    height: 240px;
  }
  .img-responsive-clip{
    display: block;
    width: 98%;
    padding-bottom: 10px;
    height: 188px;
  }

  .img-responsive2-video-random {
    display: block;
    width: 96%;
    padding-bottom: 10px;
    height: 205px;
  }
}
/*
.img-responsive2{
    display: block;
    width: 98%;
    padding-bottom: 10px;
    height: 320px;
}
*/
.img-responsive3 {
  display: block;
  width: 90%;
  padding-bottom: 10px;
  height: 240px;
}
s .progress-bar-ghost {
  background-color: #f1b00d;
}
/*Box Exclusive*/
.box-exclusive {
  background-color: #242424;
  border: 1px solid #ccc;
  box-shadow: 0 0 6px 0 #eee;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  /* min-height: 415px; */
}
.box-exclusive p {
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
}
.relay {
  background-color: #4b4b4b;
  border: 1px solid #ccc;
  box-shadow: 0 0 6px 0 #eee;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  min-height: 240px;
}
.relay p {
  padding-top: 5px;
  margin: 0px;
}
@media (min-width: 1200px) {
  .col-lg-9 {
  }
}

@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;

    margin-top: 0px;
  }
}

@media (min-width: 1200px) {
  .col-lg-3 {
    width: 200;
  }
}
@media (min-width: 1200px) {
  .col-lg-32 {
    width: 24.899999%;
  }
}
.link-exclusive > a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}
.link-exclusive > a:hover,
.link-exclusive > a:focus {
  color: #333;
}
.link-relay > a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.link-relay > a:hover,
.link-relay > a:focus {
  color: #333;
}
.box-exclusive:hover {
  /* background-color: #f1b00d; */
  background: radial-gradient(circle, #ffffff, #bfbdb9, #8c8a8a);
  color: #333;
}
.box-exclusive img:hover {
  /* -webkit-filter: grayscale(100%); */
}
.relay:hover {
  background-color: #f1b00d;
  color: #333;
}
.relay img:hover {
  /* -webkit-filter: grayscale(100%); */
}
/*Box Member*/
.box-member {
  padding: 10px;
  border: 2px solid #ffb700;
  background-color: #333;
}
/*Box Category*/
.box-category {
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #ffb700;
  background-color: #333;
}
/*Menu Right*/
.menu_right ul {
  padding: 0px;
  margin: 0px;
  color: #fff;
  list-style: none;
  text-indent: 5px;
  background: #333333;
}
.menu_right ul li {
  background: #333333;
  line-height: 28px;
  border-bottom: 1px solid #000;
}
.menu_right ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
}
.menu_right ul li a:hover {
  background: #222222;
}
/*Box Fanpage*/
.box-fanpage {
  margin-top: 10px;
  border: 2px solid #ffb700;
  background-color: #333;
}
/* Facebook Comment Responsive */
#fb-root {
  display: none;
}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 100% !important;
}
/*Footer*/
.footer {
  background-color: #222222;
  margin-top: 10px;
  padding: 10px;
}
.footer p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #fff;
  text-decoration: none;
}
.white_content1 {
  display: none;
  position: fixed;
  top: 6px;
  left: 25%;
  width: 50%;
  background-color: ;
  z-index: 1002;
  overflow: auto;
  -webkit-box-shadow: 0 0 20px 4px #000;
  box-shadow: 0 0 0 0 #000;
}
/* .white_content2 {
  position: fixed;
  right: 5px;
  z-index: 1030;
  top: 80px;
  padding: 0;
  background-color: ;
  -webkit-box-shadow: 0 0 20px 4px #000;
  box-shadow: 0 0 0 0 #000;
}
.white_content3 {
  position: fixed;
  left: 5px;
  z-index: 1030;
  top: 80px;
  padding: 0;
  background-color: ;
  -webkit-box-shadow: 0 0 20px 4px #000;
  box-shadow: 0 0 0 0 #000;
} */
.left_banner {
  display: inline-block;
}
@media (max-width: 767px) {
  .left_banner {
    /* display: none; */
  }
}
#player-overlay {
  position: relative;
  background-image: url(https://postkhai.com/-movie3/bg-img/4Ye8BSW.jpg)
    no-repeat 50% / cover;
  &:before {
    content: "";
    display: block;
    padding-top: 50%; // 50% equals a 2:1 ratio. you can read more about
    // the ratios in the link
  }
}

video {
  display: block;
  width: 100%;
  height: 100%;
}
.background-header {
  /* background: linear-gradient(to right, rgb(51 0 0), #ffa31a); */
  background-color: #ff005d;
}
.bg-color-heads {
  color: #000;
  background: linear-gradient(to right, rgb(215 193 0), rgb(132 98 11));
}
.background-tag-header {
  font-size: 16px;
  font-weight: bolder;
  border-bottom: 1px solid #fff;
  /* background: linear-gradient(to right, rgb(213 165 49), rgb(197 191 175)); */
  background-color: #4b4b4b;
}
.active-background-tag-header {
  background-color: #ecbf4f;
}
.font-tag-header {
  color: white;
}

/* แบล็คกราวน์ background-tag-footer */
.background-tag-footer {
  display: inline-block;
  color: black;
  padding: 5px 14px;
  background: linear-gradient(to right, rgb(216 216 216), #ffa31a);
  border: 3px solid #000;
  border-radius: 15px;
}

/* แบล็คกราวน์ Pagination*/
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 8px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #ff005e;
  text-decoration: none;
  background-color: #000000;
}
/* แบล็คกราวน์ Pagination Hover */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #d90147;
  border-color: #ffffff;
}

/* แบล็คกราวน์ tag header */
.nav-tabs > li > a {
  /* margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  background-color: #8e502f;; */
}

#ads_fox_bottom {
  bottom: 0px;
  display: block;
  min-height: 40px;
  position: fixed;
  text-align: center;
  z-index: 50000;
  width: 100%;
}

#ads_fix_footer {
  width: 100%;
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 25px 20px 20px;
  /* white-space: wrap; */
}

.slide-data {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-bottom: 5px;
}

h4 {
  text-align: center;
}

p2 {
  display: inline-block;
  text-align: center;
  font-size: 14px;
}

.fact {
  vertical-align: top;
  display: inline-block;
  height: auto;
  width: 200px;

  /* padding: 20px; */
  margin: 0px 25px 0px 5px;
  border-radius: 15px;
  box-shadow: 0 1.6px 3.6px rgba(0, 0, 0, 0.01),
    0 4.5px 10px rgba(0, 0, 0, 0.015), 0 10.9px 24.1px rgba(0, 0, 0, 0.02),
    0 36px 80px rgba(0, 0, 0, 0.03);
}

@media (min-width: 768px) {
  .style-social {
    width: 27%;
  }
  .box-exclusive-slider {
    background-color: #000000;
    border: 1px solid #ff005d;
    box-shadow: -1px -1px 11px 1px #ff005d;
  }

  .box-exclusive-slider p {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
  }
}

.swiper-container {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /*width:90%;*/
}

.movie-box-slider {
  border: 3px solid rgb(255 0 123);
}

.box-exclusive-slider {
  background-color: #000000;
  border: 3px solid #ff005d;
  box-shadow: -1px -1px 25px 2px #ff005d;
}

.box-exclusive-slider p {
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
}

@media (min-width: 768px) {
  .style-social {
    width: 28%;
  }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: 233px;
}
  .padding-butom-iframe {
    margin-bottom: 5px;
    height: 29rem;
  }
  .child:nth-child(1n + 0) {
    padding-right: 0px;
  }
  .child:nth-child(2n + 0) {
    /* padding-left: 15px; */
    margin-left: -7px;
  }
  .movie-box-video {
    top: 9px;
    position: relative;
    width: 197px;
    background: #242424;
    color: #005baa;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 4px;
    border: 3px solid rgb(255 0 123);
    /* border-radius: 1px 1px 1px 1px; */
    overflow: hidden;
    min-height: auto;
    margin-bottom: 20px;
  }

  .box-menu__menu .box-menu-submenu {
    text-align: center;
    width: 100%;
    padding: 1rem 3rem;
    display: block;
    background-image: linear-gradient(
      90deg,
      #af0a62 0,
      #d44d7e 25%,
      #fc88bc 50%,
      #ff77bb 75%,
      #ee65ae
    );
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.28);
    transition: 0.5s;
    background-size: 200% auto;
    cursor: pointer;
  }
  .box-menu__menu .box-menu-submenu:hover {
    background-position: right center;
    text-decoration: none;
    color: #0d0e1c;
  }
  .box-menu__menu .box-menu-submenu:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .padding-butom-iframe {
    margin-bottom: 5px;
    height: 55rem;
  }
  .child:nth-child(1n + 0) {
    padding-right: 0px;
  }
  .child:nth-child(2n + 0) {
    /* padding-left: 15px; */
    margin-left: -7px;
  }
  .movie-box-video {
    top: 9px;
    position: relative;
    width: 197px;
    background: #242424;
    color: #005baa;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 4px;
    border: 3px solid rgb(255 0 123);
    /* border-radius: 1px 1px 1px 1px; */
    overflow: hidden;
    min-height: auto;
    margin-bottom: 20px;
  }
  .box-menu__menu .box-menu-submenu {
    text-align: center;
    width: 100%;
    padding: 1rem 0rem;
    display: block;
    background-image: linear-gradient(
      90deg,
      #af0a62 0,
      #d44d7e 25%,
      #fc88bc 50%,
      #ff77bb 75%,
      #ee65ae
    );
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.28);
    transition: 0.5s;
    background-size: 200% auto;
    cursor: pointer;
  }
  .box-menu__menu .box-menu-submenu:hover {
    background-position: right center;
    text-decoration: none;
    color: #0d0e1c;
  }
  .box-menu__menu .box-menu-submenu:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .padding-butom-iframe {
    margin-bottom: 5px;
    height: 68rem;
  }
  .child:nth-child(1n + 0) {
    padding-right: 0px;
  }
  .child:nth-child(2n + 0) {
    /* padding-left: 15px; */
    margin-left: -7px;
  }
  .movie-box-video {
    top: 9px;
    position: relative;
    width: 197px;
    background: #242424;
    color: #005baa;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 4px;
    border: 3px solid rgb(255 0 123);
    /* border-radius: 1px 1px 1px 1px; */
    overflow: hidden;
    min-height: auto;
    margin-bottom: 20px;
  }

  .box-menu__menu .box-menu-submenu {
    text-align: center;
    width: 100%;
    padding: 1rem 3rem;
    display: block;
    background-image: linear-gradient(
      90deg,
      #af0a62 0,
      #d44d7e 25%,
      #fc88bc 50%,
      #ff77bb 75%,
      #ee65ae
    );
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.28);
    transition: 0.5s;
    background-size: 200% auto;
    cursor: pointer;
  }
  .box-menu__menu .box-menu-submenu:hover {
    background-position: right center;
    text-decoration: none;
    color: #0d0e1c;
  }
  .box-menu__menu .box-menu-submenu:last-child {
    margin-bottom: 0;
  }
}


.color-menu a {
  color: white;
}

/* เส้นขั้น Item */
.tab-item h3:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, transparent, #e979a8 50%, transparent);
}

.header-font1 h3 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  background: -webkit-linear-gradient(#f30f7f, #c36704);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 3px rgba(233, 187, 121, 0.2);
}

.header-font1 h1 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  background: -webkit-linear-gradient(#f30f7f, #c36704);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 3px rgba(233, 187, 121, 0.2);
}

marquee {
  display: block;
  padding: 0.6rem 0;
  margin-top: 5rem;
  background-color: black;
  /* background-image: linear-gradient(90deg,#343591,#393a93,#483c92,#553f92,#604291,#71458d,#7e4989,#894f85,#925582); */
}

.img_doonung {
  transition: transform 220ms ease, -webkit-transform 220ms ease;
  border-width: 1px;
}
.img_doonung:hover {
  border-width: 1px;
  box-shadow: 0 0 3px 0 #f9f0f0;
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
}

.home .sec-tab .nav-tabs {
  border-bottom: 0.1rem solid #e6be62;
}
.home .sec-tab .nav-tabs .nav-link.active,
.home .sec-tab .nav-tabs .nav-link:hover {
  background-image: linear-gradient(
    90deg,
    #976a36 0,
    #d4a54d 25%,
    #fcdf88 50%,
    #ffd577 75%,
    #eec465
  );
  border: none;
  color: #0d0e1c;
}

.box-menu-submenu-bodyhead {
  text-align: center;
  width: 100%;
  padding: 1rem 3rem;
  display: block;
  background-image: linear-gradient(
    90deg,
    #af0a62 0,
    #d44d7e 25%,
    #fc88bc 50%,
    #ff77bb 75%,
    #ee65ae
  );
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.28);
  transition: 0.5s;
  background-size: 200% auto;
  cursor: pointer;
}
.box-menu-submenu-bodyhead:hover {
  background-position: right center;
  text-decoration: none;
  color: #0d0e1c;
}
.box-menu-submenu-bodyhead:last-child {
  margin-bottom: 0;
}
header nav .menu li {
  position: relative;
}
.category-size-menu{
  font-size: 16px;
}

